@import url("/static/css/themes.css");
@import url("/static/css/layout.css");

html[data-theme] header {
    color: var(--contrast-title);
}

html[data-theme] .nav-link {
    font-size: 20px;
}

html[data-theme] body {
    background-color: var(--bg2);
}

html[data-theme] .card {
    background-color: var(--bg);
}

